<div class="dashboardTopCont">
    <div class="leftDiv" id="perfTable">
        <table>
            <tr class="tableHeader">
                <th></th>
                <th *ngFor="let tickers of tableHeaderLinks"><a href="{{tickers.reference}}" target="_blank">{{tickers.ticker}}</a></th>
            </tr>
            <tr class="realtimeRow">
                <td align="left">Daily return</td>
                <!-- <td *ngFor="let items of perfIndDaily" title="{{items.dailyTooltipStr}}">{{items.dailyReturnStr}}</td> -->
                <td *ngFor="let items of perfIndDaily" class="tooltipCell">{{items.dailyReturnStr}}
                    <div class="tooltipText">{{items.dailyTooltipStr}}</div>
                </td>
            </tr>
            <tr class="pastPerfRow">
                <td align="left" class="lookbAndMarketIndSel">
                    <select class="form-control" id="lookBackPeriod" (change)=onClickChangeLookback()>
                        <option value="YTD" selected>YTD</option>
                        <option value="2w">2W</option>
                        <option value="1m">1M</option>
                        <option value="6m">6M</option>
                        <option value="1y">1Y</option>
                        <option value="3y">3Y</option>
                        <option value="5y">5Y</option>
                    </select>
                    <select class="form-control" id="marketIndicator" (change)=perfIndicatorSelector()>
                        <option value="PerRet" selected>Return</option>
                        <option value="CDD">CurrDrawDown</option>
                        <option value="CDU">CurrDrawUp</option>
                        <option value="MDD">MaxDrawDown</option>
                        <!-- <option value="MDU">FmddDrawUp</option> -->
                        <option value="MDU">MaxDrawUp</option>
                    </select>
                </td>
                <!-- <td *ngFor="let items of perfIndPeriodFull" title="{{items.periodPerfTooltipStr}}">{{items.selectedPerfIndStr}}</td> -->
                <td *ngFor="let items of perfIndPeriodFull" class="tooltipCell">{{items.selectedPerfIndStr}}
                    <div class="tooltipText">{{items.periodPerfTooltipStr}}</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="rightDiv" id="tradingHoursTimer">
    </div>
</div>


