:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.4rem;
    color: rgb(96, 32, 148);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
  }
.dashboardTopCont {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.dashboardTopCont .leftDiv {
  float:left;
  visibility: hidden;
}

.dashboardTopCont table{
  border-collapse: collapse;
}
.dashboardTopCont table td, th{
  padding: 0rem;
  border-style: ridge;
  border-width: 0.2rem;
  border-color: #4e95f4 ;
  width: 7rem;
  text-align: center;
}

.dashboardTopCont .tableHeader {
  background: #b8d1f3;
}

.dashboardTopCont .rightDiv {
  float:right;
  text-align: center;
}
.dashboardTopCont .realtimeRow{
  font-size: 1.6rem;
  background-color: #dae5f4;
}
.dashboardTopCont .pastPerfRow{
  font-size: 1.4rem;
  background-color: #ffffff;
}