<p>Common news downloaded from CNBC</p>
<div style="overflow-y: auto; height:160px;">
  <ul>
    <div class="newsItemCommon" *ngFor="let news of generalNews">
      <li>
        <span>{{ news.publishDate | date:'yyyy-MM-dd hh:mm'}} </span>

        <a [title]="news.summary" [href]="news.linkUrl">
          {{news.title}}
        </a>
        <!-- <span>{{ news.DownloadTime}} </span> -->
      </li>
    </div>
  </ul>
</div>
<p>Quickfolio specific news</p>
<div>
  <div style="width: 100px; height: 602px; float:left; overflow-y: auto;">
    <div class="vertical-menu" *ngFor="let ticker of stockTickers">
      <a class="menuElement" href="#" (click)="menuClick($event, ticker)">{{ ticker }}</a>
    </div>
  </div>

  <div style="width: 600px; height: 602px; float:left; overflow-y: auto;">
    <!-- <div style=" height:602px;"> -->
      <ul>
        <div class="newsItemStock" *ngFor="let news of stockNews">
          <li (mouseenter)=mouseEnter(news)>
            <span>{{ news.publishDate | date:'yyyy-MM-dd hh:mm'}} </span>
            <span class="newsTicker">{{ news.ticker}} </span>

            <a [title]="news.summary" [href]="news.linkUrl">
              {{news.title}}
            </a>
            <!-- <span>{{ news.DownloadTime}} </span> -->
          </li>
        </div>
      </ul>
    </div>
  <!-- </div> -->
  <div style="width: 180px; float: right; margin-left: 10px; height: 602px; overflow-y: auto;">
    <span>
      {{previewText}}
    </span>
  </div>
</div>