<p style="margin: 0px;">General news from CNBC</p>
<div style="overflow: hidden;">
  <div style="overflow-y: auto; height:160px; width: 750px; float:left;">
    <ul style="margin: 0px;">
      <div class="newsItemCommon" *ngFor="let news of generalNews">
        <li (mouseenter)=mouseEnterCommon(news)>
          <!-- <span>{{getpublishedString(news.publishDate)}} </span> -->
          <span>{{news.displayText}} </span>
          <a class="newsHyperlink" [title]="news.summary" [href]="news.linkUrl" target="_blank">
            {{news.title}}
          </a>
          <!-- <span>{{ news.DownloadTime}} </span> -->
        </li>
      </div>
    </ul>
  </div>
  <div style="width: 200px; float: right; margin-left: 10px; height: 160px; overflow-y: auto;">
    <span>
      {{previewTextCommon}}
    </span>
  </div>
</div>

<div style="overflow: hidden;">
  <p style="float:left;">Quickfolio specific news. You can change the quickfolio members
    <a target="_blank" href="https://docs.google.com/spreadsheets/d/1c5ER22sXDEVzW3uKthclpArlZvYuZd6xUffXhs6rRsM">here</a>
  </p>
  <button type="button" style="float:left; margin: 14px;" (click)="reloadClick($event)">Reload quickfolio</button>
  <p style="float:right">Showing {{filteredNewsCount}} news articles from {{totalnewsCount}} downloaded.</p>
</div>

<div>
  <ul class="horizontal-menu">
    <li class="active">
      <a class="source active" href="#" (click)="menuSourceClick($event, 'All sources')">All sources</a>
    </li>
    <li>
      <a class="source" href="#" (click)="menuSourceClick($event, 'Yahoo')">Yahoo</a>
    </li>
    <li>
      <a class="source" href="#" (click)="menuSourceClick($event, 'Benzinga')">Benzinga</a>
    </li>
    <li>
      <a class="source" href="#" (click)="menuSourceClick($event, 'TipRanks all')">TipRanks all</a>
    </li>
    <li>
      <a class="source" href="#" (click)="menuSourceClick($event, 'TipRanks bullish')">TipRanks bullish</a>
    </li>
    <li>
      <a class="source" href="#" (click)="menuSourceClick($event, 'TipRanks neutral')">TipRanks neutral</a>
    </li>
    <li>
      <a class="source" href="#" (click)="menuSourceClick($event, 'TipRanks bearish')">TipRanks bearish</a>
    </li>
  </ul>
</div>
<div>
  <div style="width: 100px; height: 602px; float:left; overflow-y: auto;">
    <div class="vertical-menu" *ngFor="let ticker of stockTickers">
      <a class="menuElement" href="#" (click)="menuClick($event, ticker)">{{ ticker }}</a>
    </div>
  </div>


  <div style="width: 490px; height: 602px; float:left; overflow-y: auto;">
    <!-- <div style=" height:602px;"> -->
      <ul style="margin: 0px;">
        <div class="newsItemStock inVisible" *ngFor="let news of stockNews">
          <li (mouseenter)=mouseEnter(news)>
          <!-- <span>{{getpublishedString(news.publishDate)}} </span> -->
          <span>{{news.displayText}} </span>
            <span class="newsTicker">{{ news.ticker}} </span>
            <a class="newsHyperlink" [title]="news.summary" [href]="news.linkUrl" target="_blank">
              {{news.title}}
            </a>
            <span class="newsSource" style="display: none;">{{news.source}}</span>
            <span class="newsSentiment" style="display: none;">{{news.sentiment}}</span>
            <!-- <span>{{ news.DownloadTime}} </span> -->
          </li>
        </div>
      </ul>
    </div>
  <!-- </div> -->
  <div style="width: 360px; float: right; height: 602px; overflow-y: auto;">
    <span>
      {{previewText}}
    </span>
  </div>
</div>