html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}
* {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
html {
  font-size: 1.6rem;
}
.light {
  font-weight: 200;
}
.semilight {
  font-weight: 300;
}
.normal,
.regular {
  font-weight: 400;
}
strong,
.semibold {
  font-weight: 600;
}
b,
.bold {
  font-weight: 700;
}
body {
  font-weight: 400;
  color: #444;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3 {
  font-family: "Segoe UI", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 100;
}
h1 {
  font-size: 4rem;
  margin-block-start: 0.4rem;
  margin-block-end: 0.1rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
h4 {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    padding-inline-start: 4rem;
    line-height: 2;
}

ol {
    display: block;
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
    padding-inline-start: 4rem;
    line-height: 2;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    line-height: 1.2;
    padding-bottom:1rem;
}

.multicolortext {
    background-image: linear-gradient(to right, rgb(0%, 0%, 50%), rgb(50%, 0%, 0%), rgb(0%, 50%, 0%));
    // background-image: linear-gradient( rgb(11.373%, 32.549%, 47.843%),  rgb(1.961%, 38.824%, 30.980%));
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.dashboardWebp{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
