
// html { } // global styles are in styles.scss, because they don't work from here, from the component
// body { }  // global styles are in styles.scss, because they don't work from here, from the component

$scss-variable-color: #fbbcf4; // SCSS variable

// Themes: You can't dynamically change sass variables in the browser. So, use native CSS-variables for user-changable themes.
//:host {     // instead of "::ng-deep :root" which will be deprecated.  ":root" represents the <html> element.
::ng-deep :root {
  // this works with document.body.style.setProperty(), because that sets the ":root", not the ":host", so keep ":root" until it is deprecated. Then find a way that style.setProperty() sets the ":host"
  --textColor: #000000;
  --bgColor: #aaaaaa;
    // --textColor: #{$scss-variable-color};  // this is how to put scss-variable to css-variable
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // font-size: 1.4rem;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



// [hidden] { display: none !important;}

h1 {
  color: var(--textColor);
  background-color: var(--bgColor);
}

p {
  margin: 0;
}

.toolbar {
  height: 4rem;
  margin: 0rem; // margin is outer space of an element
  padding: 0rem; // padding is inner space of an element
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  background-image: url('~/assets/images/glass.theme.brightness-80.qlt95.webp');
  background-color: #232f3e; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%; /* Resize the background image to cover the entire container */
}

.toolbar img {
  margin: 0rem;
}

#toolBarImg1 {
  padding: 0rem 0.5rem 0rem 0.5rem
}

.nav-menu-content {
  // display: none;
  z-index: 2;
  position: absolute;
  top: 4.0rem;
  left: 1.5rem;
  background-color: #fff;
  border: solid 0.1rem #bbb;
  border-top: 0;
  box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0,.2);
  border-radius: 0 0 0.4rem 0.4rem;
}

svg.material-icons2 path {
  fill: rgb(255, 0, 0);
}

.content {
  display: flex;
  margin: 0.4rem auto;
  padding: 0 0rem;
  max-width: 96rem;
  flex-direction: column;
  align-items: center;
  color: var(--textColor);
}