
$scss-variable-color: #fbbcf4; // SCSS variable

// Themes: You can't dynamically change sass variables in the browser. So, use native CSS-variables for user-changable themes.
//:host {     // instead of "::ng-deep :root" which will be deprecated.  ":root" represents the <html> element.
::ng-deep :root {
  // this works with document.body.style.setProperty(), because that sets the ":root", not the ":host", so keep ":root" until it is deprecated. Then find a way that style.setProperty() sets the ":host"
  --textColor: #000000;
  --bgColor: #aaaaaa;
    // --textColor: #{$scss-variable-color};  // this is how to put scss-variable to css-variable
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0; /* originally, there is a 8px margin  */
  overflow-y: scroll; /* enable y scrollbar */
  overflow-x: hidden; /* disable x scrollbar */
  /* font-size: 1.6rem; */
  /* = 16px. Wiki uses 14px. Ft.com uses size 18px fonts. CNBC is using 18 and 14. Bloomberg uses Georgia 18px (for text). But 18px is too big for condensing a lot of info to the page. 16px should be our default too for text and header of tables. For numbers in cells in table we should targer 14px. 20px for section headers. 24px for webpage main title. */
}

// [hidden] { display: none !important;}

h1 {
  color: var(--textColor);
  background-color: var(--bgColor);
}

p {
  margin: 0;
}

.toolbar {
  height: 4rem;
  margin: 1rem;
  display: flex;
  align-items: center;
  background-color: #232f3e;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.nav-menu-content {
  // display: none;
  z-index: 2;
  position: absolute;
  top: 40px;
  left: 15px;
  background-color: #fff;
  border: solid 1px #bbb;
  border-top: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
  border-radius: 0 0 4px 4px;
}

svg.material-icons2 path {
  fill: rgb(255, 0, 0);
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
  color: var(--textColor);
}