<style>
</style>
<div class="toolbar" role="banner">
  <img id="toolBarImg1" width="40" alt="SQ Logo" src="../assets/images/favicon_Home64x64Resonly.ico" />
  Dashboard: {{ activeTool }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="toolbarMenu" (click)="onClickToolSelection()">
    Tools
    <svg class="material-icons2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -8 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="toolbarMenu" (click)="onClickToolSelection()">
    {{ user.email }}
    <svg class="material-icons2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 -4 24 24">
      <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
    </svg>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img id="wifiImage" width="30" alt="Wifi" title="Connection strength: [under development]" src="../assets/images/wifi.webp"/>
</div>
<!-- <div [hidden]="!isToolSelectionVisible" class="nav-menu-content nav-menu-content-fullwidth" id="servicesMenuContent" style="width: 60rem; top: 8.9rem;"> -->
<div [hidden]="!isToolSelectionVisible" class="nav-menu-content nav-menu-content-fullwidth" id="servicesMenuContent">
  4 tools:
  <br>
  <ul style="width:100%" class="services-group">
    <li class="awsc-header ico-compute" (click)="onChangeActiveTool('MarketHealth'); onClickToolSelected()">MarketHealth</li>
    <li class="awsc-header ico-compute" (click)="onChangeActiveTool('CatalystSniffer'); onClickToolSelected()">CatalystSniffer</li>
    <li class="awsc-header ico-compute" (click)="onChangeActiveTool('QuickfolioNews'); onClickToolSelected()">QuickfolioNews</li>
    <li class="awsc-header ico-compute" (click)="onChangeActiveTool('TooltipSandpit'); onClickToolSelected()">TooltipSandpit</li>
  </ul>
</div>

<div class="content">
  <app-market-health [hidden]="!(activeTool=='MarketHealth')" [_parentHubConnection]="_hubConnection"></app-market-health>
  <app-catalyst-sniffer [hidden]="!(activeTool=='CatalystSniffer')" ></app-catalyst-sniffer>
  <app-quickfolio-news [hidden]="!(activeTool=='QuickfolioNews')" [_parentHubConnection]="_hubConnection"></app-quickfolio-news>
  <app-tooltip-sandpit [hidden]="!(activeTool=='TooltipSandpit')" ></app-tooltip-sandpit>
  <hr style="margin: 0" size="0.2rem" width="100%">
</div>






<router-outlet></router-outlet>