<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile=""
      internalLogLevel="Info" 
      throwConfigExceptions="true">

  <variable name="NoYearDate" value="${date:format=MM'-'dd'T'}"/>
  <targets>
    <target name="logfile" xsi:type="AsyncWrapper" overflowAction="Block">
        <target xsi:type="File"  
            fileName="${basedir}/../../../../../../logs/RedisManager.${date:format=yyyy-MM-dd}.sqlog"             
            keepFileOpen="true" concurrentWrites="false"
            layout="${NoYearDate}${time}#${threadid}|${level:uppercase=true}|${logger}: ${message} ${exception}" />
    </target>
    <target name="logconsole" xsi:type="Console" 
            layout="${time}#${threadid}|${level:uppercase=true}|${logger}: ${message} ${exception}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>