html { font-size: 62.5%; }  /* set 1.0rem = 10px. revert to root font size of 10px. it allows to set font-size in rem, that corresponds to px */

@font-face {
  font-family: PublicoText-Roman-Web;
  src: url('https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Italic-Web-b04a2274cf.woff2');
  font-style: italic, oblique;
}
@font-face {
  font-family: PublicoText-Roman-Web;
  src: url('https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Bold-Web-3c5266a48e.woff2');
  font-weight: bold;
}
@font-face {
  font-family: PublicoText-Roman-Web;
  src: url('https://assets.bwbx.io/s3/fontservice/fonts/PublicoText-Roman-Web-bfa063ee27.woff2');
}

@font-face {
  font-family: PublicoHeadline-Bold-Web;
  src: url('https://assets.bwbx.io/s3/fontservice/fonts/PublicoHeadline-Bold-Web-e816328678.woff2');
}

body {
    margin: 0;  /* originally, there is a 8px margin  */
    overflow-y: scroll; /* enable y scrollbar */
    overflow-x: hidden;  /* disable x scrollbar */
    font-size: 1.6rem;  /* = 16px. Wiki uses 14px. Ft.com uses size 18px fonts. CNBC is using 18 and 14. Bloomberg uses Georgia 18px (for text). But 18px is too big for condensing a lot of info to the page. 16px should be our default too for text and header of tables. For numbers in cells in table we should targer 14px. 20px for section headers. 24px for webpage main title. */
    font-family: PublicoText-Roman-Web,Georgia,Cambria,"Times New Roman",Times,serif;
    text-align: center;
  }

  .gradientBckgrnd {
    background: linear-gradient(to right, #3080c7 5%, #5b9dd7 10%, #d5f5f6 30%, #d5f5f6 70%, #ace16b 90%, #91d73a 95%);     /* new light */
  }

  h2 {
    margin-top: 0.4rem;
    margin-bottom: 0.7rem;
    font-size: 2.4rem;  /* = 24px */
  }

  .largeSizeText {
    font-size: 2.0rem;  /* = 20px */
  }

  .normalSizeText {
    font-size: 1.6rem;  /* = 16px */
  }

  .dataSizeText {
    font-size: 1.4rem;  /* = 14px */
  }

  .miniSizeText {
    font-size: 1.0rem;  /* = 10px. For insignificant debug info. */
  }

  img {
    /* icons are next to a text on the same line. If text font changes, this should change. Define this icons as 2x the size of the font (2x14px=28px). Use EM, so it scales with the containing element fontsize. So, if that fontsize change, we don't have to resize img here. */
    width: 4rem;
    height: 4rem;
    vertical-align: text-bottom;
  }

  .widerImg {
    width: 6rem;
  }

  a {
    color: inherit;  /* inherit from parent, if is set dynamically as dark/light mode */
    display: inline-block;
    padding: 0.8rem 0.2rem;
    text-decoration: underline;
    text-decoration-style: dotted;
    color: blue;
    text-shadow: 0px 0px 0px #528ecc; /* shadow is the only exception when fixed pixel units should be used. */
  }

  a:hover {
    color: rgb(174, 0, 255);  /* blue Href hover is good for both dark and light mode  */
  }